{{template "header"}}
    <p>
        <div>PostImage: {{.PostImage}}</div>

        <div>Upvotes: {{.Upvotes}}</div>

        <div>Downvotes: {{.Downvotes}}</div>

        <div>Comments: {{range .Comments}} {{.}} {{end}}</div>

    </p>

{{template "footer"}}