{{define "post_listing"}}
    <div class="col-9">
        <div class="jumbotron post">
            <a href="/h/{{.Id}}">
                <h3>{{.Title}}</h3>
                <div class="preview">
                    <img class="img-fluid"
                         src="/static/img/{{.PostImage}}">
                </div>
            </a>
        </div>
    </div>
{{end}}
